:root {
	background-color: rgb(160, 178, 158);
	--accent-color-dark: rgb(23, 56, 19);
	--accent-color: rgb(64, 98, 61);
}

body {
    font-family: "Open Sans", "Helvetica", "sans-serif";

	max-width: 1800px;
	margin: 0 auto;
}

footer {
	font-style: italic;
	font-size: 0.8rem;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	color: var(--accent-color-dark);
	margin: 0;
}

sh1 {
	font-size: 0.9rem;
	font-style: italic;
	font-weight: bold;
	color: var(--accent-color)
}

hr {
	border: 2px outset var(--accent-color);
}